.header_content p-col {
  margin-right: 0 !important;
}

.header_content {
  margin: 40px 25%;
  padding : 15px;
  background-color : white;
  text-align: center;
  width : 15%;
}


.content {
  margin-left: 25%;
}

.box_content {
  padding : 15px;
  background-color : white;
  text-align: center;
  width : 15%;
}
